* {
    margin: 0%;
    padding: 0%;
}
/*Mobile*/
@media(max-width: 900px) {
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .page-one {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        width: 100vw;
        height: 100vh;
        background-image: url(https://images.unsplash.com/photo-1540575467063-178a50c2df87?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80);

    }
    #title p {
        width: 90%;

        font-family: 'Roboto';
        color: antiquewhite;
        font-weight: 700;
        font-size: 8vh;
        margin-left: 5%;
    }
    #location {
        padding-top: 10%;
        width: 80%;
        height: 30%;
    }
    #location p{
        font-family: 'Roboto';
        color: antiquewhite;
    }
    /*Page-two*/

    .page-two {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        height: 80vh;
    }
    .page-two-title{
        font-family: 'Roboto';

    }
    .page-two-title h1{
        margin-left: 5%;
        padding-top: 10%;
        font-weight: 700;
        color: #293794;
    }
    .page-two-title p {
        margin-left: 5%;
        padding-top: 5%;
    

        width: 80%;
        font-weight: 300;

        line-height: 175%;
    }

    /*Page-tree*/

        .page-tree{
            display: flex;
            justify-content: center;
            align-items: center;

            flex-direction: column;
        }
        #page-tree-title p{
            font-family: 'Roboto';
            font-size: 5vh;
            font-weight: 700;
            color: #293794;
            
            padding-top: 30%;
            padding-bottom: 30%;
        }
        .colection-cards{
            display: flex;
            flex-direction: column;align-items: center;
            height: 100vh;
            width: 100vw;
            margin-bottom: 10%;
        }
        .card-item{
            display: flex;
            justify-content: center;
            height: 20%;
            width: 90%;
            padding-bottom: 5%;
        }
        #card-img img {
            height: 100%;
            border-radius: 100px;
        }
        #card-text{
            display: flex;
            justify-content: center;
            align-items: center;

            height: 100%;
            width: 100%;
            flex-direction: column;
            
            
            font-family: 'Roboto';
            text-align: center;
        }
        
}
